{% extends 'base.html' %}
{% load static %}
{% block body %}
    {% include 'globals/messages.html' %}
    <h1>Wiadomości ...</h1>
    <a href="{% url 'add_news' %}">dodaj post</a>

    <form action="{% url 'find_news' %}" method="post">
        {% csrf_token %}
        <input type="text" name="search_param" placeholder="tytuł lub nazwa kategorii" value="">
        <button type="submit">szukaj</button>
    </form>

    <ul id="news_list">Loading ...</ul>
    <div id="paginator"></div>

{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.6/handlebars.min.js"></script>
    <script id="news-item" type="text/x-handlebars-template">
        {% verbatim %}
        <li id="{{ news_id }}">
            <a href="{{ news_url }}">{{ news_title }}</a>
        </li>
        {% endverbatim %}
    </script>
    <script id="paginator-item" type="text/x-handlebars-template">
        {% verbatim %}
        <a href="{{ previous_page_url }}" class="paginator btn btn-success"> < </a>
        &nbsp;news: {{ elements }}&nbsp;
        <a href="{{ next_page_url }}" class="paginator btn btn-success"> > </a>
        {% endverbatim %}
    </script>
    <script src="{% static 'main.js' %}" id="news-script" data-csrftoken="{{ csrf_token }}"></script>
{% endblock %}